@model TomatoPizzaCafe.Models.MakeYourOwn

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MakeYourOwn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sauce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sauce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crust)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crust)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MakeYourOwnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
