@model SpaAppointment.Models.ServiceProvider
@using SpaAppointment.Services;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var appointments = ServiceProviderRepository.GetAppointmentsForProviderByDay(Model.Id);
}

<h2>Details</h2>

<div>
    <h4>ServiceProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>

<table>
    @foreach (var item in appointments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => CustomerRepository.GetCustomer(item.CustomerId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderId)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
